@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Academic System</h1>
    <img src="https://sportlinx360.com/system/files/link-elements/Create%20Links%20page/graduation-hat-and-diploma-2.png" />
</div>
